@{
    ViewData["Title"] = "Photos";
}
<h2>Photos</h2>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="/Z/photo1.png">
            <img src="/Z/photo2.png">
            <img src="/Z/photo3.png">
            <img src="/Z/photo4.png">
        </a>
    </div>
</div>


