@model ModularAspNetCoreWebApp.Module.X.ViewModels.XViewModel
<h1>Module X</h1>

<h2>Service Data: @ViewBag.ServiceData</h2>
<br/>
<p>@Model.Name</p>
<p>@Model.Description</p>
<p>@Model.Message</p>
<br/>
<img src="x.png"/>